/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
}

:root{
    //Colors
    --primary: #3A5FA8;
    --primary-hover: #102e6b;
    --dark-gray: #272727;
    --light-gray: #494949;
    --dark-color: #000;
    
    //Text Colors
    --dark-text: #000;
    --light-text: #fff;
    --gray-text: #696969;

    //Titles
    --large-title: 2rem;
    --small-title: 1.7rem;

    //Texts
    --large-text: 1.3rem;
    --medium-text: 1rem;
    --small-text: 0.8rem;

    //Weights
    --normal-weight: 400;
    --emphasis-weight: 600;

    //Radius
    --radius: 1rem;
    --small-radius: .5rem;

    //Transition
    --transition-time: 100ms;
    --transition-type: ease;
}

body{
    background-color: var(--dark-color);
}

.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

app-input{
    width: 100%;
}